build
dist
pygdebias.egg-info
*.ipynb
*/__pycache__
__pycache__/*



*.txt
*.pickle
*.sh
*.md
*.pt
*.pyc
*.csv

/home/zhenyu/program/pygdebias/PyGDebias/pygdebias/datasets/__pycache__/__init__.cpython-310.pyc

datasets/dataset/
dataset/
error/
graphFair_subgraph/
output/
models_save

sample_t.py
sample_test.py
test_german.py